/*
Aufgabe: Aufgabe 3
Name: Kai Halfinger
Matrikel: 254872
Datum: 4. März 2017
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

div {
	width: 8em;
	height: 12em;
	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

#nachziehstapel {
	float: left;
	position: relative;
	top: 1em;
	left: 1em;
	background-color: green;
	cursor: pointer;
}

#ablagestapel {
	float: left;
	position: relative;
	top: 1em;
	left: 5em;
	background-color: red;
}

#hand {
	position: absolute;
	bottom: 6em;
	right: 6em;
	width: auto;
	height: auto;
	padding: 1em 1em;
}

.handkarten {
	background-color: blue;
	display: inline;
	float: right;
	margin: 1em 1em;
	cursor: pointer;
}
