/*
Aufgabe: Aufgabe 3
Name: Kai Halfinger
Matrikel: 254872
Datum: 5. März 2017
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

div {
	width: 8em;
	height: 9em;
	padding-top: 3em;
	font-family: sans-serif;
	text-align: center;
	white-space: pre;
	line-height: 2;
	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

#nachziehstapel {
	float: left;
	position: relative;
	top: 3em;
	left: 3em;
	background-color: lightblue;
	border: 4px black solid;
	cursor: pointer;
}

#ablagestapel {
	padding-top: 1em;
	height: 11em;
	float: left;
	position: relative;
	top: 3em;
	left: 5em;
	background-color: orange;
	border: 4px black solid;
	display: none;
}

#hand {
	position: absolute;
	bottom: 6em;
	left: 3em;
	width: auto;
	height: auto;
	padding: 1em 1em;
}

.handkarten {
	border: 8px black solid;
	font-weight: 700;
	display: inline;
	float: left;
	margin: 1em 1em;
	cursor: pointer;
	
}
