/*
Aufgabe: Aufgabe 2
Name: Kai Halfinger
Matrikel: 254872
Datum: 30. März 2017
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

.black {
	background-color: black;
	color: white;
}

.white {
	background-color: white;
	color: black;
}

div {
	text-align: center;
}